// Colors:
$image-holder: #c7bebe;
$logo: #d04f4f;
$dropdown-1: #3282f7;
$dropdown-2: #68d9a4;
$dropdown-3: #ed6454;
$input-text: #e7e7e7;

//IMPORT BOOSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";
