@use "custom";

// IMPORT sections:
@use "sections/logo";
@use "sections/searchbar";
@use "sections/dropdown";
@use "sections/cards";

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@media (max-width: 992px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipeCard {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dropdown-input {
    flex-direction: column;
  }
}

@media (max-width: 295px) {
  .logo {
    width: 200px;
  }
  .preparation {
    height: 100px;
  }
}

@media (max-width: 270px) {
  .recipe-name {
    font-size: 13px;
  }
  .time svg {
    width: 15px;
    height: 15px;
  }
  .time {
    font-size: 13px;
  }
  .preparation {
    height: 80px;
  }
}

@media (max-width: 215px) {
  .logo {
    width: 150px;
  }
}
