*:focus {
  outline: none;
}

.dropdown-item {
  color: #fff;
  width: auto;
}

.dropdown-item::first-letter {
  text-transform: uppercase;
}

#dropdown-container {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  justify-content: center;
}

.dropdown-input {
  display: flex;
  gap: 2rem;
}

.dropdown-menu.show {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Ingredients*/
#selected-ingredients {
  background-color: #3282f7;
  color: white;
  padding: 10px;
  margin: 5px -5px;
}
#ingredients-input,
.drop-btn-1 {
  background-color: #3282f7;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/*Appareils*/
#selected-appareils {
  background-color: #68d9a4;
  color: white;
  padding: 10px;
  margin: 5px -5px;
}
#appareils-input,
.drop-btn-2 {
  background-color: #68d9a4;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/*Ustensiles*/
#selected-ustensiles {
  background-color: #ed6454;
  color: white;
  padding: 10px;
  margin: 5px -5px;
}
#ustensiles-input,
.drop-btn-3 {
  background-color: #ed6454;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/*PlaceHolder: */
#ingredients-input::placeholder,
#appareils-input::placeholder,
#ustensiles-input::placeholder {
  color: white;
}
