/*
.dropdown-container {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dropdown-toggle {
  width: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.dropdown-toggle::placeholder {
  color: #fff;
}

.dropdown-1 {
  background-color: #3282f7;
}

.dropdown-2 {
  background-color: #68d9a4;
}

.dropdown-3 {
  background-color: #ed6454;
}
*/

#dropdown-menu {
  display: flex;
  gap: 1rem;
  margin: 1rem 1rem 3rem 1rem;
  justify-content: flex-start;
}

#dropdown-menu > div {
  height: 2rem;
  position: relative;
  z-index: 2;
}

#dropdown-menu > div > input {
  height: 100%;
  border: none;
}

#dropdown-menu > div > input::placeholder {
  color: white;
}

/*Ingredients*/
#selected-ingredients {
  background-color: #3282f7;
  color: white;

  padding: 15px;
}
#ingredients-input {
  background-color: #3282f7;
  color: white;
}

/*Appareils*/
#selected-appareils {
  background-color: #68d9a4;
  color: white;

  padding: 15px;
}
#appareils-input {
  background-color: #68d9a4;
  color: white;
}

/*Ustensils*/
#selected-ustensils {
  background-color: #ed6454;
  color: white;

  padding: 15px;
}
#ustensiles-input {
  background-color: #ed6454;
  color: white;
}
